<!-- This is an example of a web.config file for a Next.js project -->
<configuration>
  <system.webServer>
    <!-- Use iisnode to run the Node.js application -->
    <iisnode nodeProcessCommandLine=""%programfiles%\nodejs\node.exe"" />
    <!-- Rewrite all requests to the Node.js application entry point -->
    <rewrite>
      <rules>
        <rule name="Next">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Disable caching for dynamic content -->
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>
